
.faq-simpleDialog {
  width: 60% !important;
}
.contents{
  text-align: left;
  padding: 15px 15px;
  max-height: 85vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.contents::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scrollbar thumb transparent */
}

.wrappers{
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 3px 16px #00000024;
  height: auto;
  padding: 25px 10px;
  color: rgb(28, 100, 148);
  display: flex;
  top: 0px;
  margin: 10px 10px;
  cursor: pointer;
}
.message{
  color: rgb(28, 100, 148);
  font-weight: bold;
  text-align: center;
}
.question{
  font-weight: bolder;
  color: rgb(28, 100, 148);
  position: absolute;
  top: 14px;
}
.question span{
  font-weight: lighter;
  font-size: 15px;
}
.answer {
  padding: 5px ;
  margin-top: 5px;
}

.qus-field {
 margin: 10px 10px;
}
.qus-field label{
  font-weight: bolder;
    color: rgb(28, 100, 148);
    font-size: medium;
    padding: 0px 5px;
}
.input-box{
   height: 5rem;
   padding: 5px;
   color: rgb(28, 100, 148);
}
.btn-icon{
  border: none;
  background: transparent;
  text-align: center;
  cursor: pointer;

}
